:host(:not([theme~='tertiary-inline']):not([theme~='tertiary'])) {
    --vaadin-button-border: 1px solid var(--lumo-contrast-20pct);
}

:host(:not([theme~='primary'])) {
    --vaadin-button-background: var(--lumo-base-color);
}

:host(:not([theme~='tertiary-inline']):not([theme~='tertiary'])):hover {
    border-color: var(--lumo-contrast-30pct);
}

:host(:not([theme~='tertiary-inline']):not([theme~='tertiary'])[disabled]) {
    border-color: var(--lumo-contrast-10pct);
}