vaadin-button:not(
    [theme~='primary'],
    [theme~='tertiary'],
    [theme~='tertiary-inline'],
    [jmix-role],
    .dialog-close-button
) {
    --_control-button-border-color: var(--lumo-contrast-20pct);
    --vaadin-button-border: 1px solid var(--_control-button-border-color);
    --vaadin-button-background: var(--lumo-base-color);
}

vaadin-button:hover {
    --_control-button-border-color: var(--lumo-contrast-30pct);
}

vaadin-button[disabled] {
    --_control-button-border-color: var(--lumo-contrast-10pct);
}